<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="seo">
                <field id="robots_meta_override" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Robots Meta Override</label>
                    <frontend_model>\DmiRud\SeoRobots\Block\Adminhtml\Form\Field\MetaRobotsRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <config_path>dmirud_seo/meta/robots_meta_override</config_path>
                </field>
            </group>
        </section>
    </system>
</config>

